<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tor</key>
	<true/>
	<key>Cache</key>
	<real>3600</real>
	<key>Site</key>
	<string>http://ymasaptkeux3qgbc.onion</string>
</dict>
</plist>
